.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg-color);
    color: var(--second-bg-color);
    padding: 5px 200px;
}

.navbar-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar img {
    width: 54px;
    height: 34px;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--second-bg-color);
    padding: 10px;
}

.navbar-menu a:hover {
    text-decoration: underline;
}